.header {
    height: 8vh;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ebf0fa;
    color: white;
    display: flex;  /* 가로 정렬 */
    justify-content: space-between; /* 좌우 배치 */
    align-items: center;  /* 세로 중앙 정렬 */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    z-index: 100; /* 다른 요소 위에 나타나도록 높은 z-index 값을 설정 */
    padding: 0 17px; /* 좌우에 20px의 공백 추가 */

}


.link {
    text-decoration: none;
    text-align: center;
}

.title {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.login,
.bell {
    align-items: center;
    color: black;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
}

.active-login-icon,
.active-bell-icon {
    color: black;
}


.logo {
    width: 100px; /* 원하는 크기로 조정 */
    height: auto;
}

.icons {
    display: flex;    /* 아이콘을 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 30px;      /* 아이콘 간격 조정 */
}

.login-icon {
    width: 65px; 
    margin: 8px 0px 0px; 
}

.user-icon {
    width: 30px; 
    margin: 8px 0px 0px; 
}

/* 드롭다운 메뉴 */
.dropdown {
    position: fixed;
    top: 8%; /* 버튼 바로 아래에 드롭다운 위치 */
    right: 10px;
    width: 140px; /* 드롭다운의 너비 */
    padding: 10px;
    background-color: #ffffff; /* 배경색 */
    border: 1px solid #ddd; /* 테두리 색상 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 500; /* 드롭다운이 다른 요소들 위에 표시되도록 */
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    font-size: 14px;
}

/* 드롭다운 항목 스타일 */
.dropdown p, .dropdown a, .dropdown button {
    padding: 8px;
    margin: 5px 0; /* 항목 간 간격 */
    text-align: center;
    cursor: pointer;
    border: none; /* 기본 테두리 제거 */
    background-color: transparent; /* 배경 투명 */
    font-size: 14px;
    color: #333; /* 기본 텍스트 색상 */
    transition: background-color 0.3s, color 0.3s; /* 호버시 색상 변화 */
    text-decoration: none;

}

/* 드롭다운 항목 호버 효과 */
.dropdown p:hover, .dropdown a:hover, .dropdown button:hover {
    background-color: #f1f1f1; /* 배경색 변경 */
    color: #3f72af; /* 텍스트 색상 변경 */
}

/* 로그아웃 버튼 스타일 */
.logout {
    color: white; /* 텍스트 흰색 */
    border-radius: 4px; /* 모서리 둥글게 */
    border: none; /* 기본 테두리 제거 */
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

/* 말풍선 뾰족한 부분을 만들기 위한 삼각형 */
.dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%; /* 드롭다운 메뉴의 위쪽에 삼각형을 위치시킴 */
    left: 90%;
    transform: translateX(-50%); /* 삼각형을 가운데로 조정 */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; /* 삼각형을 아래쪽으로 향하게 함 */
}

.welcome-text {
    display: inline-block; /* 가로 정렬 유지 */
    white-space: nowrap; /* 줄바꿈 방지 */
    font-size: 14px; /* 적절한 크기 */
    color: #333;
  }
  
  .welcome-text strong {
    font-weight: bold;
    color: #3f72af; 
  }
  