.header {
    height: 6vh;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ebf0fa;
    color: white;
    display: flex;  /* 가로 정렬 */
    justify-content: space-between; /* 좌우 배치 */
    align-items: center;  /* 세로 중앙 정렬 */
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 100; /* 다른 요소 위에 나타나도록 높은 z-index 값을 설정 */
  }


.link {
    text-decoration: none;
    /* color: white; */
    text-align: center;
}

.title {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.login,
.bell {
    align-items: center;
    color: black;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
}

.active-login-icon,
.active-bell-icon {
    color: black;   
}


.logo {
    width: 100px; /* 원하는 크기로 조정 */
    height: auto;
}

.icons {
    display: flex;    /* 아이콘을 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 30px;      /* 아이콘 간격 조정 */
}