.searchbar {
    width: 100%;
    height: 100%;
}

.search-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 10px;  /* 내부 여백 추가 */
    border: 2px solid #e0e0e0; /* 연한 그레이 톤으로 변경 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

.search-input-searchpage {
    border: none;
    padding-left: 10px;
    background: transparent;
    outline: none;
    flex-grow: 1;
}

.clear-btn {
    /* flex: 0 0 50px; */
    /* width: 30px; */
    /* height: 100%; */
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    margin: 0;
    padding: 0;
}

.main-search-container {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #f9f7f7;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* 그림자 효과 추가 */
    transition: box-shadow 0.3s ease-in-out; /* 호버시 그림자 변화 */
}

.main-search-container:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12); /* 호버시 입체감 강조 */
}

.search-input-mainpage {
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}

.search-input-address-search {
    height: 100%;
}