.mainpagecurrentaddress-trigger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.addressTriggerButton {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

.addressTriggerButton img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.mainpageaddressdetail {
    box-sizing: inherit;
    width: 65%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.addressSearchButton {
    box-sizing: inherit;
    width: 20%;
    height: 100%;
    font-size: 12px;
}

.mainpagebottomsheet {
    width: 100%;
    position: fixed;
    bottom: 0 !important;
    z-index: 101;
}

.mainpageaddressimg {
    width: 15% ;
    height: 100% ;
}

/* 팝업 오버레이 */
.address-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

/* 팝업 내용 */
.address-popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-close-btn {
    width: 28px;
    height: 28px;
    border: none;
    background: #F5F5F5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    /* 폰트/아이콘 스타일 */
    font-size: 1.3rem;
}

.address-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.address-marker {
    width: 30px;
    height: 30px;
}

.address-search-btn {
    width: 95%;
    padding: 12px;
    background: #3f72af;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
}