.App {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    text-align: center;
  }

.appcontainer {
    width: 100%;
    height: 100dvh;
    z-index: 1;
    position: fixed;
    overflow-y: auto;
    top: 0;
}

.map-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 1;
}

.map-container.visible {
    display: block;
    pointer-events: auto;
}

.map-container.hidden {
    display: none;
}