.box {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #dbe2ef;
  grid-template-columns: 33% 34% 33%;
}

.storedetailbarbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  border: none;
}

.storedetailbarbutton1 {
  grid-column: 1;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  box-shadow: none; /* 그림자 제거 */
}

.storedetailbarbutton2 {
  grid-column: 2;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  box-shadow: none; /* 그림자 제거 */
}

.storedetailbarbutton3 {
  grid-column: 3;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 외곽선 제거 */
  box-shadow: none; /* 그림자 제거 */
}

/* 활성화된 버튼 스타일 */
.active {
  background-color: #3f72af; /* 원하는 색상으로 변경 */
  color: #fff; /* 텍스트 색상 */
}
